@media(max-width:1200px) {
    .container {
        max-width: 960px
    }

    .sidepanel {
        display: none
    }

    .about__wrapper {
        grid-template-columns: 400px 520px;
        gap: 40px 20px
    }

    .about__skills {
        gap: 20px 25px
    }

<<<<<<< HEAD
    .resume__wrapper {
        -moz-column-gap: 50px;
        column-gap: 50px
    }

    .skills__wrapper {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center
    }

    .skills__item {
        width: 200px;
        height: 200px;
        overflow: hidden;
    }

    .skills__pic {
        width: 50%;
        height: 50%;
    }

    .skills__front{
        width: 260px;
        height: 200px;
    }

    .skills__back{
        width: 230px;
        height: 200px;
    }

    .skills__back .title{
        font-size: 18px;
        line-height: 28px;
    }
    .skills__descr{
        max-width: 170px;
        font-size: 12px;
    }


    .skills__ratings {
        grid-template: repeat(auto-fit, minmax(70px, auto))/repeat(2, 1fr);
        justify-items: center;
        gap: 35px 60px
    }

    .skills__ratings-item {
        grid-template: minmax(40px, auto) 14px/317px 35px
    }

    .portfolio {
        padding-top: 120px;
        min-height: 746px;
    }

    .portfolio__wrapper {
        max-width: 1140px;

    }

    .portfolio__items {

        height: 746px;
        display: flex;
        list-style-type: none;
        overflow: hidden;
    }

    .portfolio__item {
        display: block;
        width: 50px;
        overflow: hidden;
        position: relative;
        transition: 1s all;
    }

    .portfolio__item img {
        z-index: 1;
        object-fit: cover;
        object-position: 20% 0;
        width: 100%;
        height: 100%;
    }

    .portfolio__item figure {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;

    }

    .portfolio__item figcaption {

        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        position: absolute;
        color: #fff;
        width: 500px;
        height: 300px;
        text-align: left;
        transform: rotate(270deg) translateX(60%) translatey(-33%);
        bottom: 0;
        left: 0;
        transition: all .5s;
    }


    .portfolio__item-active {
        width: 100%;
        background-color: none;
    }

    .portfolio__item .portfolio__title-active {
        transform: rotate(360deg) translateX(20.5%) translatey(25%);
    }

    .portfolio__descr {
        position: absolute;
        background-color: rgba(0, 0, 0, .2);
        padding: 15px;
        z-index: 2;
        color: #fff;
        width: 500px;
        bottom: -100%;
        left: 10%;
        text-align: left;

    }

    .portfolio__descr a {
        color: #fff;
    }

    .portfolio__descr-active {
        bottom: 1%;
        display: block;
    }
=======
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
        }

        &__item {
            width: 200px;
            height: 200px;
        }

        &__pic {
            width: 160px;
            height: 160px;
        }

        &__ratings {
            grid-template: repeat(auto-fit, minmax(70px, auto))/repeat(2, 1fr);
            justify-items: center;
            gap: 35px 60px;

            &-item {
                grid-template: minmax(40px, auto) 14px/317px 35px;
            }
        }

    }

    /* 
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 20px;

            .horizonal,
            .vetrical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    } */
>>>>>>> 0def1ba9e74814637fc001900a3360c5d89a6d28
}



@media(max-width:992px) {
    .container {
        max-width: 720px
    }

    .title_fz36 {
        font-size: 32px
    }

    .about__wrapper {
        grid-template-columns: 300px 380px
    }

    .about__pic {
        width: 300px;
        grid-row: 1/2
    }

    .about__skills {
        grid-column: 1/3
    }

    .resume__wrapper {
        grid-template: minmax(129px, auto)/1fr
    }

    .skills__ratings-item {
        grid-template: minmax(40px, auto) 14px/273px 35px
    }

    .skills__ratings-line {
        width: 300px
    }
}

@media(max-width:768px) {
    .container {
        max-width: 540px
    }

    .promo__title {
        line-height: 39px;
        margin-top: 16px
    }

    .about {
        padding-top: 40px
    }

    .about__wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 340px auto auto;
        gap: 20px
    }

    .about__pic {
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: 1/2
    }

    .about__pic img {
        -o-object-position: 20% -35px;
        object-position: 20% -35px
    }

    .about__text {
        grid-column: 1/2;
        grid-row: 2/3
    }

    .about__skills {
        grid-column: 1/2;
        grid-row: 3/4;
        display: block
    }

    .about__skills-item {
        margin-top: 20px;
        justify-content: start
    }

    .resume {
        padding-top: 46px
    }

<<<<<<< HEAD
    .resume__wrapper {
        row-gap: 40px
=======
    .skills {
        &__ratings {


            &-item {
                grid-template: minmax(40px, auto) 14px/273px 35px;
            }

            &-line {
                width: 300px;
            }
        }
>>>>>>> 0def1ba9e74814637fc001900a3360c5d89a6d28
    }

    .skills__wrapper {
        grid-template-columns: repeat(2, 1fr)
    }

    .skills__ratings {
        grid-template: repeat(auto-fit, minmax(70px, auto))/repeat(1, 1fr);
        justify-items: center;
        gap: 35px 60px
    }

    .skills__ratings-item {
        grid-template: minmax(40px, auto) 14px/395px 35px
    }

    .skills__ratings-line {
        width: 428px
    }

    .portfolio__item .portfolio__title-active {
        transform: rotate(360deg) translateX(20.5%) translatey(10%);
    }

    .portfolio__descr, .portfolio__descr-active {
        max-width: 80%;
    }


}

@media(max-width:576px) {
    .container {
        width: 100%;
        padding: 0 20px
    }

<<<<<<< HEAD
    .title_fz48 {
        font-size: 36px
    }

    .title_fz36 {
        font-size: 23px;
        line-height: 36px
=======
    .menu {
        width: 40px;
    }


    .promo {
        &__title {
            line-height: 39px;
            margin-top: 16px;
        }
    }

    .about {
        padding-top: 40px;

        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 340px auto auto;
            gap: 20px;
        }

        &__pic {

            width: 100%;
            height: 100%;
            grid-column: 1 / 2;
            grid-row: 1 / 2;

            img {
                object-position: 20% -35px;
            }

        }

        &__text {
            grid-column: 1 / 2;
            grid-row: 2 / 3;

        }

        &__skills {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            display: block;

            &-item {
                margin-top: 20px;
                justify-content: start;
            }

        }


    }

    .resume {
        padding-top: 46px;

        &__wrapper {
            row-gap: 40px;
        }
    }

    .skills {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);

        }

        &__ratings {
            grid-template: repeat(auto-fit, minmax(70px, auto))/repeat(1, 1fr);
            justify-items: center;
            gap: 35px 60px;

            &-item {
                grid-template: minmax(40px, auto) 14px/395px 35px;
            }

            &-line {
                width: 428px;
            }
        }
    }

    .portfolio {

        &__wrapper {
            flex-direction: column;
            height: 100vh;
        }

        .card {
            margin-bottom: 10px;
            width: 65vw;
            height: 22vh;
        }


        .card>.row>.icon {
            margin: .25rem;
        }

        .card>.row>.description {
            width: 60%;
        }

        input:checked+label {
            width: 65vw;
            height: 100vh;
        }

        input:checked+.card>.row>.icon {
            margin: 15px;
        }



    }

    .contacts {
        &__wrapper {
            grid-template-columns: 1fr;
            padding: 0;
        }

        &__photo {
            margin-bottom: 10px;
        }

        &__form {
            display: flex;
            flex-direction: column;
        }

        &__input input {
            padding: 10px 20px;
        }

        &__triggers {
            grid-template-columns: 1fr;
            row-gap: 35px;
        }



    }

}

@media (max-width: 576px) {
    .container {
        width: 78%;
        padding: 0 20px;
    }

    .title {
        &_fz48 {
            font-size: 36px;
        }

        &_fz36 {
            font-size: 23px;
            line-height: 36px;
        }


>>>>>>> 0def1ba9e74814637fc001900a3360c5d89a6d28
    }

    .hamburger {
        right: 20px
    }

    .menu__block {
        width: 250px;
        padding-left: 20px
    }

    .menu__list {
        padding-left: 26px
    }

    .menu__link::before {
        left: -25px
    }

    .promo__title {
        line-height: 39px;
        width: 280px
    }

<<<<<<< HEAD
    .promo__subtitle::before {
        top: -15%
    }

    .promo__btns {
        margin-top: 32px
    }

    .promo .title_fz16 {
        font-size: 14px;
        line-height: 28px
    }

    .about__pic img {
        -o-object-position: 20% -15px;
        object-position: 20% -15px
    }

    .resume__wrapper {
        padding: 40px 0 0 0
    }

    .resume__item-body {
        padding: 12px 0 0 43px
    }

    .resume .title_fz14 {
        font-size: 12px
    }

    .skills__wrapper {
        grid-template-columns: repeat(1, 1fr)
    }

    .skills__ratings {
        padding-top: 60px;
        grid-template: repeat(auto-fit, minmax(70px, auto))/repeat(1, 1fr);
        justify-items: center;
        gap: 35px 60px
    }

    .skills__ratings-item {
        grid-template: minmax(40px, auto) 14px/240px 35px
    }

    .skills__ratings-line {
        width: 270px
    }

    .skills .title_fz16 {
        font-size: 14px;
        line-height: 18px
    }

    .portfolio__item .portfolio__title-active {
        transform: rotate(360deg) translateX(8.5%) translatey(-20%);
=======
    .skills {
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);

        }

        &__ratings {
            padding-top: 60px;
            grid-template: repeat(auto-fit, minmax(70px, auto))/repeat(1, 1fr);
            justify-items: center;
            gap: 35px 60px;

            &-item {
                grid-template: minmax(40px, auto) 14px/210px 35px;
            }

            &-line {
                width: 240px;
            }
        }

        .title {
            &_fz16 {
                font-size: 14px;
                line-height: 18px;
            }
        }
>>>>>>> 0def1ba9e74814637fc001900a3360c5d89a6d28
    }
}