/* 

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;
    &.active {
        left: 0; 
        visibility: visible;
        opacity: 1;
    }

    &__block {
        position: relative;
        left: 0;
        padding: 140px 0 0 40px;
        width: 345px;
        height: 100%;
        background: $main-color;
        transition: all .6s;
        z-index: 10;
        
    }

    &__close {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__list {
        list-style-type: none;
        padding-left: 35px;

    }

    &__link {
        position: relative;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 15px;
        transition: all .2s;

        &:hover {
            transform: scale(1.07);

            &::before {
                background: #fff;
            }
        }

        a {
            color: #fff;
            text-transform: uppercase;

            &:hover {
                text-decoration: none;
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            left: -35px;
            top: 10px;
            border: 1px solid #fff;
            border-radius: 100%;
        }
    }

    &__social {
        width: 90px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        opacity: .75;
    }
} */

/* .hamburger {
    position: absolute;
    top: 20px;
    left: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    z-index: 4;

    span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #000;
    }

    span.long {
        width: 36px;
    }
} */


.menu {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    transition: width 0.3s ease;


    &:hover {
        width: 260px;
        padding-left: 10px;

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #fff;
            opacity: .75;
        }
    }

    &__links {
        height: calc(100% - 140px);
        overflow-y: auto;
        scrollbar-width: none;
        list-style: none;
        margin-top: 60px;
    }

    &__links::-webkit-scrollbar {
        display: none;
    }

    &__links h4 {
        color: #222;
        font-weight: 500;
        margin-bottom: 10px;
        display: none;
    }

    &:hover .menu__links h4 {
        display: block;
    }

    &__links li {
        display: flex;
        align-items: center;
    }

    &__links li:hover {
        border-radius: 4px;
        cursor: pointer;
        background: #fff;
    }


    &__links hr {
        border-color: #4c4c4c;
        margin: 10px 8px;
    }

    &:hover .menu__links hr {
        border-color: transparent;
    }

    &__links li span {
        padding: 12px 10px;
    }

    &__links li a {
        color: #000;
        padding: 10px;
        font-weight: 500;
        white-space: nowrap;
        text-decoration: none;
        display: none;
    }

    &:hover .menu__links li a {
        display: block;
    }
}

